{% extends 'layout.twig' %}
{% block body %}
{{ dump(userAccount) }}

<h2>Modifier votre profil</h2>
<form action="" method="post"></form>
    <fieldset >
        <ul>
            <li>
                <label for="email">Adresse e-mail :</label>
                <input type="email" name="email" id="email" value="{{userAccount['email']}}" required>
            </li>
            <li>
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" required>
            </li>
            <li>
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" id="lastname" value="{{userAccount['firstname']}}" required>
            </li>
            <li>
                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname" id="firstname" value="{{userAccount['lastname']}}" required>
            </li>
            <li>
                <label for="birthDate">Date de Naissance :</label>
                <input type="date" name="birthDate" id="birthDate" value="{{userAccount['birthDate']}}" required>
            </li>
            <li>
                <label for="address">Adresse :</label>
                <input type="text" name="address" id="address" value="{{userAccount['address']}}" required>
            </li>
            <li>
                <label for="zipCode">Code Postal :</label>
                <input type="number" name="zipCode" id="zipCode" data-type="number" value="{{userAccount['zipCode']}}" required maxlength="5">
            </li>
            <li>
                <label for="city">Ville :</label>
                <input type="text" name="city" id="city" value="{{userAccount['city']}}" required>
            </li>
            <li>
                <label for="country">Pays :</label>
                <input type="text" name="country" id="country" value="{{userAccount['country']}}" required>
            </li>
            <li>
                <label for="phone">Téléphone :</label>
                <input type="text" name="phone" id="phone" data-type="number" value="{{userAccount['phone']}}" required maxlength="10">
            </li>
            <li>
                <input type="submit" value="Modifier" />
            </li>
        </ul>
    </fieldset>
</form>
{% endblock %}